.main{
    width: 70vw;
    margin: 15vh auto 20px;
}

.title{
    text-align: center;
    color: black;
}

.newButton{
    color: black;
    border-radius: 7px;
    margin: 15px auto !important;
    padding: 10px;
    text-align: center;
    background-color: white;
    box-shadow: 0px 0px 4px 1px rgba(0,0,0,0.7);
    -webkit-box-shadow: 0px 0px 4px 1px rgba(0,0,0,0.7);
    -moz-box-shadow: 0px 0px 4px 1px rgba(0,0,0,0.7);
}

.newButton:hover{
    box-shadow: 0px 0px 4px 1px black;
    -webkit-box-shadow: 0px 0px 4px 1px black;
    -moz-box-shadow: 0px 0px 4px 1px black;
}

.performedExercise{
    text-align: center;
    padding: 10px;
    background-color: #8B8B8B;
    border-radius: 15px;
    margin-bottom: 20px;
    position: relative;
}

.addSetButton{
    margin-bottom: 10px;
    border-radius: 7px;
    background-color: white;
    color: black;
    box-shadow: 0px 0px 4px 1px rgba(0,0,0,0.7);
    -webkit-box-shadow: 0px 0px 4px 1px rgba(0,0,0,0.7);
    -moz-box-shadow: 0px 0px 4px 1px rgba(0,0,0,0.7);
}

.addSetButton:hover{
    box-shadow: 0px 0px 4px 1px white;
    -webkit-box-shadow: 0px 0px 4px 1px white;
    -moz-box-shadow: 0px 0px 4px 1px white;
    cursor: pointer;
}

.addSetForm{
    text-align: center;
}

input[type = "number"]{
    margin-bottom: 10px;
    margin-top: 0;
    border-radius: 15px;
    background-color: #3b3b3b;
    border: 1px solid white;
    padding: 10px;
}

input[type = "number"]:active{
    box-shadow: 0px 0px 4px 1px rgba(256,256,256,0.7);
    -webkit-box-shadow: 0px 0px 4px 1px rgba(256,256,256,0.7);
    -moz-box-shadow: 0px 0px 4px 1px rgba(256,256,256,0.7);
}

.submitSetButton{
    border-radius: 15px;
    background-color: #3b3b3b;
    color: white;
    box-shadow: 0px 0px 4px 1px rgba(0,0,0,0.7);
    -webkit-box-shadow: 0px 0px 4px 1px rgba(0,0,0,0.7);
    -moz-box-shadow: 0px 0px 4px 1px rgba(0,0,0,0.7);
}

.submitSetButton:hover{
    box-shadow: 0px 0px 4px 1px white;
    -webkit-box-shadow: 0px 0px 4px 1px white;
    -moz-box-shadow: 0px 0px 4px 1px white;
    cursor: pointer;
}

.workout{
    border-radius: 15px;
    margin: 15px auto !important;
    padding: 10px;
    text-align: center;
    background-color: #8B8B8B;
    color: white;
}

.workout:hover{
    border: none;
    box-shadow: 0px 0px 4px 1px rgba(0,0,0,1);
    -webkit-box-shadow: 0px 0px 4px 1px rgba(0,0,0,1);
    -moz-box-shadow: 0px 0px 4px 1px rgba(0,0,0,1);
    cursor: pointer;
}

.date{
    margin-top: 30px;
}

.deleteButton{
    color: white;
    border-radius: 7px;
    margin: 15px auto !important;
    padding: 10px;
    text-align: center;
    background-color: firebrick;
}

.deleteButton:hover{
    box-shadow: 0px 0px 4px 1px rgba(0,0,0,1);
    -webkit-box-shadow: 0px 0px 4px 1px rgba(0,0,0,1);
    -moz-box-shadow: 0px 0px 4px 1px rgba(0,0,0,1);
}

.removeExercise{
    position: absolute;
    top: 7px;
    right: 10px;
    color: darkgray;
}

.removeExercise:hover{
    color: black;
    cursor: pointer;
}

.datePicker{
    padding: 5px;
    background-color: white;
    color: black;
    border: 1px solid black;
}

.weightAndReps{
    background-color: white;
    color: black;
}