.main{
    width: 70vw;
    margin: 15vh auto 20px;
}

.title{
    text-align: center;
}

.newButton{
    color: white;
    border-radius: 7px;
    margin: 15px auto !important;
    padding: 10px;
    text-align: center;
    background-color: #3b3b3b;
    box-shadow: 0px 0px 4px 1px rgba(0,0,0,0.7);
    -webkit-box-shadow: 0px 0px 4px 1px rgba(0,0,0,0.7);
    -moz-box-shadow: 0px 0px 4px 1px rgba(0,0,0,0.7);
}

.newButton:hover{
    box-shadow: 0px 0px 4px 1px white;
    -webkit-box-shadow: 0px 0px 4px 1px white;
    -moz-box-shadow: 0px 0px 4px 1px white;
}

.performedExercise{
    text-align: center;
    padding: 10px;
    background-color: #3b3b3b;
    box-shadow: 0px 0px 4px 1px rgba(0,0,0,0.7);
    -webkit-box-shadow: 0px 0px 4px 1px rgba(0,0,0,0.7);
    -moz-box-shadow: 0px 0px 4px 1px rgba(0,0,0,0.7);
    border-radius: 15px;
    margin-bottom: 20px;
}

.addSetButton{
    margin-bottom: 10px;
    border-radius: 7px;
    background-color: #3b3b3b;
    color: white;
    box-shadow: 0px 0px 4px 1px rgba(0,0,0,0.7);
    -webkit-box-shadow: 0px 0px 4px 1px rgba(0,0,0,0.7);
    -moz-box-shadow: 0px 0px 4px 1px rgba(0,0,0,0.7);
}

.addSetButton:hover{
    box-shadow: 0px 0px 4px 1px white;
    -webkit-box-shadow: 0px 0px 4px 1px white;
    -moz-box-shadow: 0px 0px 4px 1px white;
    cursor: pointer;
}

.addSetForm{
    text-align: center;
}

input[type = "number"]{
    margin-bottom: 10px;
    margin-top: 0;
    border-radius: 15px;
    background-color: #3b3b3b;
    border: 1px solid white;
    padding: 10px;
}

input[type = "number"]:active{
    box-shadow: 0px 0px 4px 1px rgba(256,256,256,0.7);
    -webkit-box-shadow: 0px 0px 4px 1px rgba(256,256,256,0.7);
    -moz-box-shadow: 0px 0px 4px 1px rgba(256,256,256,0.7);
}

.submitSetButton{
    border-radius: 15px;
    background-color: #3b3b3b;
    color: white;
    box-shadow: 0px 0px 4px 1px rgba(0,0,0,0.7);
    -webkit-box-shadow: 0px 0px 4px 1px rgba(0,0,0,0.7);
    -moz-box-shadow: 0px 0px 4px 1px rgba(0,0,0,0.7);
}

.submitSetButton:hover{
    box-shadow: 0px 0px 4px 1px white;
    -webkit-box-shadow: 0px 0px 4px 1px white;
    -moz-box-shadow: 0px 0px 4px 1px white;
    cursor: pointer;
}

.workout{
    border-radius: 15px;
    margin: 15px auto !important;
    padding: 10px;
    text-align: center;
    box-shadow: 0px 0px 4px 1px rgba(0,0,0,0.7);
    -webkit-box-shadow: 0px 0px 4px 1px rgba(0,0,0,0.7);
    -moz-box-shadow: 0px 0px 4px 1px rgba(0,0,0,0.7);
    color: #000000;
}

.workout:hover{
    box-shadow: 0px 0px 4px 1px white;
    -webkit-box-shadow: 0px 0px 4px 1px white;
    -moz-box-shadow: 0px 0px 4px 1px white;
    cursor: pointer;
}

.date{
    margin-top: 30px;
}

.deleteButton{
    color: white;
    border-radius: 7px;
    margin: 15px auto !important;
    padding: 10px;
    text-align: center;
    background-color: firebrick;
    box-shadow: 0px 0px 4px 1px rgba(0,0,0,0.7);
    -webkit-box-shadow: 0px 0px 4px 1px rgba(0,0,0,0.7);
    -moz-box-shadow: 0px 0px 4px 1px rgba(0,0,0,0.7);
}

.deleteButton:hover{
    box-shadow: 0px 0px 4px 1px white;
    -webkit-box-shadow: 0px 0px 4px 1px white;
    -moz-box-shadow: 0px 0px 4px 1px white;
}