.textCenter{
    text-align: center;
    color: black;
}


.form{
    background-color: #8B8B8B;
    padding: 30px 30px 30px 30px;
    width: 90%;
    margin: 15vh auto auto;
    border-radius: 10px;
}

input, select{
    display: block;
    margin: 20px auto;
    color: black;
}

input[type = "email"], input[type = "password"], input[type = "text"], input[type = "number"], select{
    padding: 10px;
    width: 90%;
}

input[type = "submit"]{
    color: #191919;
    padding: 7px;
    font-weight: bold;
    border: 1px solid black;
    border-radius: 5px;
}

input[type = "submit"]:hover{
    color: white;
    background-color: #3b3b3b;
    border: 1px solid white;
}

h5{
    width: 70%;
    margin: 20px auto;
}

@media (min-width: 1000px) {
    .form{
        width: 50%;
    }

    input[type = "email"], input[type = "password"], input[type = "text"], input[type = "number"], select{
        padding: 10px;
        width: 70%;
    }


}