.main{
    margin-top: 15vh;
   text-align: center;
}

.title{
    font-weight: bold;
    margin-bottom: 50px;
    color: black;
}

h3{
    color: black;
}

.section{
    margin-bottom: 20vh;
    margin-top: 15vh;
    font-size: 20px;
}

label{
    color: black;
}

input[type = 'radio']{
    margin-bottom: 20px;
}

.settings{
    color: black;
}