.main{
    width: 70vw;
    margin: 15vh auto 20px;
}

.title{
    text-align: center;
}

.exerciseName{
    text-align: center;
    margin-bottom: 50px;
}

.search{
    border-radius: 15px;
    background-color: #3b3b3b;
    border: 1px solid white;
    padding: 10px;
}

.search:hover{
    cursor: pointer;
}

.search:active{
    box-shadow: 0px 0px 4px 1px rgba(256,256,256,0.7);
    -webkit-box-shadow: 0px 0px 4px 1px rgba(256,256,256,0.7);
    -moz-box-shadow: 0px 0px 4px 1px rgba(256,256,256,0.7);
}

.select{
    background-color: #3b3b3b;
    color: white;
    border-radius: 15px;
}

.select:hover{
    cursor: pointer;
}

.option{
    color: white;
}

.newButton{
    border-radius: 15px;
    margin: 15px auto !important;
    padding: 10px;
    text-align: center;
    background-color: #3b3b3b;
    box-shadow: 0px 0px 4px 1px rgba(0,0,0,0.7);
    -webkit-box-shadow: 0px 0px 4px 1px rgba(0,0,0,0.7);
    -moz-box-shadow: 0px 0px 4px 1px rgba(0,0,0,0.7);
    color: white;
}

.newButton:hover{
    box-shadow: 0px 0px 4px 1px white;
    -webkit-box-shadow: 0px 0px 4px 1px white;
    -moz-box-shadow: 0px 0px 4px 1px white;
}

.exercise{
    border-radius: 15px;
    margin: 15px auto !important;
    padding: 10px;
    text-align: center;
    box-shadow: 0px 0px 4px 1px rgba(0,0,0,0.7);
    -webkit-box-shadow: 0px 0px 4px 1px rgba(0,0,0,0.7);
    -moz-box-shadow: 0px 0px 4px 1px rgba(0,0,0,0.7);
    color: #000000;
}

.exercise:hover{
    box-shadow: 0px 0px 4px 1px white;
    -webkit-box-shadow: 0px 0px 4px 1px white;
    -moz-box-shadow: 0px 0px 4px 1px white;
    cursor: pointer;
}

.name{
    font-weight: bold;
}

.description{
    font-style: italic;
}

.form{
    background-color: #191919;
    padding: 30px 30px 30px 30px;
    width: 90%;
    margin: 15vh auto auto;
    border-radius: 10px;
}

input, select{
    display: block;
    margin: 20px auto;
    color: black;
}

input[type = "text"]{
    padding: 10px;
}

.checkbox{
    display: inline-block;
    margin: 5px 15px;
}

.pickButton{
    border-radius: 8px;
    background-color: #3b3b3b;
    color: white;
    box-shadow: 0px 0px 4px 1px rgba(0,0,0,0.7);
    -webkit-box-shadow: 0px 0px 4px 1px rgba(0,0,0,0.7);
    -moz-box-shadow: 0px 0px 4px 1px rgba(0,0,0,0.7);
}

.pickButton:hover{
    box-shadow: 0px 0px 4px 1px white;
    -webkit-box-shadow: 0px 0px 4px 1px white;
    -moz-box-shadow: 0px 0px 4px 1px white;
    cursor: pointer;
}

@media (min-width: 1000px) {
    .form{
        width: 50%;
    }

    input[type = "text"]{
        padding: 10px;
    }
}