.calculator{
    border-radius: 15px;
    margin: 15px auto !important;
    padding: 10px;
    text-align: center;
    box-shadow: 0px 0px 4px 1px rgba(0,0,0,0.7);
    -webkit-box-shadow: 0px 0px 4px 1px rgba(0,0,0,0.7);
    -moz-box-shadow: 0px 0px 4px 1px rgba(0,0,0,0.7);
    background-color: #8B8B8B;
    color: #000000;
}

input{
    margin-bottom: 10px;
    margin-top: 0;
    border-radius: 15px;
    background-color: white;
    border: 1px solid black;
    padding: 10px;
    color: black;
}

.calculateButton{
    border-radius: 15px;
    background-color: #3b3b3b;
    color: white;
    box-shadow: 0px 0px 4px 1px rgba(0,0,0,0.7);
    -webkit-box-shadow: 0px 0px 4px 1px rgba(0,0,0,0.7);
    -moz-box-shadow: 0px 0px 4px 1px rgba(0,0,0,0.7);
}

.select{
    background-color: white;
    color: black;
    border-radius: 15px;
}

.select:hover{
    cursor: pointer;
}
